// ** basic styling ** //

:root {
    --dark: #2e142c;
    --red: #801336;
    --light: #fff;
    overflow: hidden;
}

// svg colors

.cls-1 {
    fill: #10799a;
}

.cls-2 {
    fill: #801336;
}

.cls-3 {
    fill: #221128;
}

.cls-4 {
    fill: #1d1d1b;
}

.cls-5 {
    fill: #fff4d9;
    stroke: #000;
    stroke-width: 5px;
}

.cls-5,
.cls-9 {
    stroke-miterlimit: 10;
}

.cls-6 {
    fill: #140a15;
}

.cls-7 {
    fill: #3f9435;
}

.cls-8 {
    fill: #c82d41;
}

.cls-9 {
    fill: none;
    stroke: #fff;
}

body {
    background-color: var(--dark);
    color: var(--light);
    font-family: monospace;
    font-size: 1.5em;
    line-height: 1.5;
    margin: 0;
}
main {
    width: 70%;
    text-align: center;
    margin: 10vh auto;
    top: -15em;
    position: relative;
}


h1 {
    text-align: center;
    font-size: 5rem;
}

p{
    position: absolute;
    text-align: center;
    width:100vw;
    display: block;
    z-index: 1;
}
h2 {
    font-size: 2em;
    margin-top: 1.5em;
}

ul {
    list-style-type: none;
    padding: 0;
    margin: 0 -1rem;
}

ul li {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 1rem;
}

header {
    position: absolute;
    display: block;
    width: 100%;
    top: 50%;
}

span {
    opacity: .2;
    font-size: 3rem;

}


div.lyrics_back span {
    position: absolute;   
    writing-mode: vertical-rl;
    text-orientation: upright;
    top: -12em;
    z-index: 0;
    transition: 2000ms ease-in-out;
    width: 31em;
    left: -5em;
}

// *********************************//*********************************//
// *********************************//*********************************//
// ***************** // section button hidden // ********************* //
// ***************** // lyrics divs and span // ********************* //
// *********************************//*********************************//
// *********************************//*********************************//

main button {
    opacity: 0;
    z-index: 3;
    padding: 1em;
    background: none;
    border: none;
    color: white;
    transition: 300ms ease-in-out;
    position: absolute;
    top: 4.9em;
    font-size: 2rem;
    height: 3em;
}

main section button:hover {
    cursor: url(../img/spin1.svg), auto;
}

main section button:first-of-type {
    background: red;
    position: absolute;
    top: 0em;
    left: -5.4em;
}

main section button:nth-of-type(2) {
    background: red;
    position: absolute;
    top: 0em;
    right: -5.9em;
}

main section button:nth-of-type(3) {
    background: red;
    position: relative;
    top: -9em;
    right: -14.5em;
}

main section button:nth-of-type(4) {
    background: red;
    position: absolute;
    top: 17.6em;
    left: -5.6em;
}

main section button:first-of-type:focus~.lyrics_back span {
    color: red;
    transform: skew(15deg, 15deg);
}

main section button:nth-child(2):focus~.lyrics_back span {
    color: red;
    transform: skew(-0.06turn, -8deg);
}

main section button:nth-child(3):focus~.lyrics_back span {
    color: red;
    transform: skew(.312rad);
}

main section button:nth-child(4):focus~.lyrics_back span {
    color: red;
    transform: skew(-25deg, 5deg);
}

// section lyrics

main section div:nth-of-type(2) span {
    white-space: nowrap;
    position: relative;
    opacity: .8;
    top: -16.5em;
    background: red;
    z-index: 1;
    display: block;
    transform: translate(-8em, 1em)rotate(90deg);
    animation:lyrics-left 1s infinite ease-in-out;
}

main section div:nth-of-type(3) span {
    white-space: nowrap;
    position: relative;
    opacity: .8;
    left: -9em;
    top: -15.5em;
    background: black;
    z-index: 3;
    animation:lyrics-right 1s infinite ease-in-out;
}


// *********************************//*********************************//
// *********************************//*********************************//
// ***************** // form labels and radio // ********************* //
// ***************** // toggle light and dark // ********************* //
// *********************************//*********************************//
// *********************************//*********************************//

main input[type="radio"] {
    opacity: 0;
    position: fixed;
    width: 0;
}

main label {
    display: inline-block;
    background-color: var(--dark);
    padding: 10px 20px;
    font-family: sans-serif, Arial;
    font-size: 16px;
    border: 2px solid #444;
    border-radius: 4px;
    top: 5em;
    left: -2em;
    position: relative;
    z-index: 5;

}

main label:first-of-type {
    color: black;
    background: white;
    width: 6em;
    height: 4em;
    clip-path: polygon(40% 4%, 73% 15%, 91% 38%, 100% 64%, 76% 77%, 48% 84%, 16% 75%, 4% 55%, 0% 35%, 14% 10%);
    animation:eyesLeft 1000ms alternate infinite;
}

main label:nth-of-type(2) {
    background: black;
    width: 6em;
    height: 6em;
    clip-path: polygon(53% 5%, 81% 11%, 98% 27%, 99% 51%, 89% 64%, 59% 70%, 27% 66%, 0 50%, 10% 32%, 24% 15%);
    animation:eyesRight 1000ms alternate infinite;
}
main label:hover{
    cursor: url(../img/spin1.svg), auto;
}


main label:first-of-type:hover {
    clip-path: polygon(33% 55%, 56% 56%, 72% 56%, 100% 61%, 71% 57%, 44% 57%, 21% 55%, 10% 54%, 0 50%, 11% 53%);
}

main label:nth-of-type(2):hover {
    clip-path: polygon(54% 55%, 73% 57%, 86% 52%, 100% 45%, 80% 57%, 50% 57%, 14% 58%, 0 60%, 10% 57%, 32% 56%);
}

main label:hover {
    border: 2px dashed #444;
}


// *********************************//*********************************//
// *********************************//*********************************//
// ********************** // form change svg // ********************* //
// *********************************//*********************************//
// *********************************//*********************************//

main input[type="radio"]:checked+label {
    background-color: var(--red);
    color: white;
    border-color: var(--red);
}

input[type="radio"] {
    z-index: 4;
    position: relative;
    display: block;
}

input[type="radio"]:checked~svg .cls-2 {
    fill: white;
}

input[type="radio"]:checked~svg:hover {
    clip-path: polygon(48% 20%, 79% 7%, 97% 28%, 66% 75%, 51% 94%, 1% 32%, 13% 7%);
}

input[type="radio"]:checked~section div:nth-of-type(1) span {
    background: white;
    color: black;
    opacity: 1;
}
input[type="radio"]:checked body {
    background: white;
}

input[type="radio"]:checked~section div:nth-of-type(2) span::before {
    content: "Falling into your ocean eyes Those ocean eyes No fair You really know how to make me cry When you gimme those ocean eyes I'm scared";
}

input[type="radio"]:checked~section div:nth-of-type(3) span::before {
    content: "Falling into your ocean eyes Those ocean eyes No fair You really know how to make me cry When you gimme those ocean eyes I'm scared";
}



input[type="radio"]:checked~svg #blood-drops {
    opacity: 0;
}

input[type="radio"]:checked~section div:nth-of-type(1) span::before {

    content: "I've been watching you
For some time Can't stop staring
At those oceans eyes Burning cities And napalm skies Fifteen flares inside those ocean eyes Your ocean eyes No fair You really know how to make me cry When you gimme those ocean eyes I'm scared
I've never fallen from quite this high
Falling into your ocean eyes Those ocean eyes No fair You really know how to make me cry When you gimme those ocean eyes I'm scared
I've never fallen from quite this high
Falling into your ocean eyes Those ocean eyes I've been walking through
A world gone blind Can't stop thinking of your diamond mind
Careful creature Made friends with time He left her lonely with a diamond mind And those ocean eyes No fair You really know how to make me cry When you gimme those ocean eyes I'm scared
I've…";

}

input[type="radio"]:checked~svg #tear-r {
    opacity: 0;
}

input[type="radio"]:checked~svg {
    clip-path: polygon(46% 8%, 80% 23%, 94% 55%, 67% 90%, 27% 87%, 8% 54%, 17% 27%);
}


input[type="radio"]:checked~svg {
    background: rgb(116, 173, 238);

}

/// dark theme

input[type="radio"]:nth-of-type(2):checked~svg .cls-2 {
    fill: #801336;

}

input[type="radio"]:nth-of-type(2):checked~svg #blood-drops {
    opacity: 1;

}

input[type="radio"]:nth-of-type(2):checked~svg {
    background: black;

}

input[type="radio"]:nth-of-type(2):checked~svg #tear-r {
    opacity: 1;
}

input[type="radio"]:nth-of-type(2):checked~svg #tear-l {
    opacity: 1;
}

input[type="radio"]:nth-of-type(2):checked~svg {
    clip-path: polygon(47% 1%, 56% 19%, 71% 31%, 80% 52%, 72% 72%, 50% 79%, 29% 75%, 20% 56%, 15% 40%, 33% 22%);
}

input[type="radio"]:nth-of-type(2):checked~svg:hover {
    clip-path: polygon(48% 30%, 71% 21%, 100% 43%, 95% 73%, 84% 87%, 52% 68%, 9% 83%, 0 62%, 1% 34%, 28% 23%);
}

input[type="radio"]:nth-of-type(2):checked~section div:nth-of-type(1) span::before {
    content: "          My Lucifer is lonely
Standing there, killing time Can't commit to anything but a crime
Peter's on vacation, an open invitation
Animals, evidence Pearly gates look more like a picket fence Once you get inside 'em
Got friends but can't invite them
Hills burn in California My turn to ignore ya Don't say I didn't warn ya All the good girls go to hell 'Cause even God herself has enemies
And once the water starts to rise And heaven's out of sight
She'll want the devil on her team
My Lucifer is lonely Look at you needing me You know I'm not your friend without some greenery
Walk in wearing fetters Peter should know better Your cover up is caving in Man is such a fool Why are we saving him? Poisoning themselves now Begging for our help, wow ! Hills burn in California My turn to ignore ya Don't say I didn't warn ya All the good girls go to hell 'Cause even God herself has enemies
And once the water starts to rise And heaven's out of sight
She'll want the devil on her team
My Lucifer is lonely There's nothing left to save now
My god is gonna owe me There's nothing left to save now";

}

input[type="radio"]:nth-of-type(2):checked~section div:nth-of-type(1) span {
    background:var(--dark);
    color:rgba(255, 255, 255, 0.363);
    opacity: 1;
}

input[type="radio"]:nth-of-type(2):checked~section div:nth-of-type(2) span::before {
    content: "       All the good girls go to hell
'Cause even God herself has enemies
And once the water starts to rise And heaven's out of sight
She'll want the devil on her team";

}

input[type="radio"]:nth-of-type(2):checked~section div:nth-of-type(3) span::before {
    content: "       All the good girls go to hell
'Cause even God herself has enemies
And once the water starts to rise And heaven's out of sight
She'll want the devil on her team";

}




// *********************************//*********************************//
// *********************************//*********************************//
// *********************************//*********************************//
// *********************************//*********************************//

.examples img {
    max-width: 25vh;
}

a,
a:visited {
    color: var(--red);
}

footer {
    font-style: italic;
}



// ** svg manipulation ** //


svg {
    max-width: 100%;
    margin: auto;
    border: 1em solid black;
    background: black;
    clip-path: polygon(47% 1%, 56% 19%, 71% 31%, 80% 52%, 72% 72%, 50% 79%, 29% 75%, 20% 56%, 15% 40%, 33% 22%);
    position: relative;
    transition: 750ms ease-in-out;
    z-index: 2;
}
svg:hover~section div:first-of-type span {
    writing-mode: vertical-rl;
    text-orientation: upright;
    transform: rotate(20deg);
}


svg:active~section div:first-of-type span {
    animation: textgowow 200ms infinite;
}



svg:hover {
    cursor: url(../img/spin1.svg), auto;
    clip-path: polygon(48% 30%, 71% 21%, 100% 43%, 95% 73%, 84% 87%, 52% 68%, 9% 83%, 0 62%, 1% 34%, 28% 23%);

}


// *********************************//*********************************//
// *********************************//*********************************//
// ********************** // svg billie head  // ********************* //
// *********************************//*********************************//
// *********************************//*********************************//

svg {

    #head {
        animation: head-infinite-rotate 30s infinite;
    }

    #paw-r {
        #paw-r-1gr {
            animation: paw-r-infinite-group1 10s ease infinite;

        }

        #paw-r-2gr {
            transition-delay: 2s;
            animation: paw-r-infinite-group1 5s ease infinite;
        }

        #paw-r-3gr {
            transition-delay: 3s;
            animation: paw-r-infinite-group1 7s ease infinite;

        }
    }

    #paw-l {
        #paw-l-1gr {
            animation: paw-r-infinite-group1 8s ease infinite;

        }

        #paw-l-2gr {
            transition-delay: 2s;
            animation: paw-r-infinite-group1 6s ease infinite;
        }

        #paw-l-3gr {
            transition-delay: 3s;
            animation: paw-r-infinite-group1 3s ease infinite;

        }
    }

    #head,
    #paw-r,
    #paw-l {
        transition: transform 500ms ease;
    }


    #paw-l {
        transform: rotate(0deg);
        transform-origin: 50% 50%;
    }

    #paw-r {
        transform: rotate(0deg);
        transform-origin: 50% 50%;
    }

    #lines {
        &:nth-child(-n+15) {
            animation: glitch-lines 23ms ease infinite;
        }

        &path:nth-child(n+16) {
            transition-delay: 5s;
            animation: glitch-lines 43ms ease infinite reverse;
        }
    }
}

svg:hover {
    #head {
        transform: rotate(15deg);
        transform-origin: 50% 50%;
        animation: head-rotates 500ms ease infinite;
    }

    #paw-l {
        transform: rotate(10deg);
        transform-origin: 50% 50%;

    }

    #paw-r {
        transform: rotate(-10deg);
        transform-origin: 50% 50%;

        .cls-2 {
            &:nth-child(4) {
                transition-delay: 16s ease !important;
            }
        }

    }

    #paw-r {
        .cls-2 {
            transition: transform 1s ease;

            &:nth-child(1) {
                transform: translateY(-3em) rotate(10deg);
                transform-origin: center left;
                transform-box: fill-box;
                // animation: paw-r-moves 600ms ease infinite;
            }

            &:nth-child(2) {
                transform: rotate(-20deg);
                transform-origin: center left;
                transform-box: fill-box;
            }

            &:nth-child(4) {
                transform: rotate(5deg);
                transform-origin: center left;
                transform-box: fill-box;
            }

            &:nth-child(5) {
                transform: translateY(2.7em)rotate(-22deg);
                transform-origin: center left;
                transform-box: fill-box;
            }

            &:nth-child(6) {
                transform: rotate(20deg);
                transform-origin: center left;
                transform-box: fill-box;
            }
        }

    }

    #paw-l {
        .cls-2 {
            transition: transform 1s ease;

            &:nth-child(1) {
                transform: translateY(-3em) rotate(-10deg);
                transform-origin: center right;
                transform-box: fill-box;
                // animation: paw-r-moves 600ms ease infinite;
            }

            &:nth-child(2) {
                transform: rotate(20deg);
                transform-origin: center right;
                transform-box: fill-box;
            }

            &:nth-child(4) {
                transform: rotate(40deg);
                transform-origin: center right;
                transform-box: fill-box;
                animation: paw-l-moves 2s ease infinite;
            }

            &:nth-child(5) {
                transform: translateY(2.7em)rotate(22deg);
                transform-origin: center right;
                transform-box: fill-box;
            }

            &:nth-child(6) {
                transform: rotate(-20deg);
                transform-origin: center right;
                transform-box: fill-box;
            }
        }

    }


}

svg {

    #blood-drops-individual .cls-8 {
        &:nth-child(1) {
            animation: blood-drip 10s ease-in-out infinite;
        }

        &:nth-child(2) {
            transition-delay: 5s;
            animation: blood-drip 8s ease-in-out infinite;
        }

        &:nth-child(3) {
            transition-delay: 2s;
            animation: blood-drip 11s ease-in-out infinite;
        }

        &:nth-child(4) {
            transition-delay: 6s;
            animation: blood-drip 14s ease-in-out infinite;
        }

        &:nth-child(5) {
            transition-delay: 4s;
            animation: blood-drip 5s ease-in-out infinite;
        }

        &:nth-child(6) {
            transition-delay: 3s;
            animation: blood-drip 4s ease-in-out infinite;
        }
    }


}

// ** tear animation **//

svg #blood-drop-circle {
    .cls-8 {
        &:nth-child(1) {
            animation: blood-drip-circle 2s infinite;
        }

        &:nth-child(2) {
            transition-delay: 2s;
            animation: blood-drip-circle 4s infinite;
        }

        &:nth-child(3) {
            transition-delay: 1s;
            animation: blood-drip-circle 3s infinite;
        }

        &:nth-child(4) {
            transition-delay: 3s;
            animation: blood-drip-circle 1.4s infinite;
        }
    }
}

svg #hair .hair {
    .cls-4 {
        &:nth-child(1) {
            transform: translate(11.8em, 16.2em);

        }

    }
}

svg:hover {
    transform: transition 200ms ease;

    #head #tear-r,
    #tear-l {
        animation: tear-animate 404ms ease-in-out infinite;
    }
}

svg #head #tear-r,
#tear-l {
    animation: tear-animate 40s ease-in-out infinite;
}



// *********************************//*********************************//
// *********************************//*********************************//
// ************************* // svg keyframes // ********************* //
// *********************************//*********************************//
// *********************************//*********************************//




@keyframes textgowow {
    0% {
        writing-mode: vertical-rl;
        text-orientation: upright;
        transform: rotate(20deg);
    }

    50% {
        writing-mode: vertical-rl;
        text-orientation: upright;
        font-size: 6.2em;
        transform: rotate(-30deg)
    }

    100% {
        writing-mode: vertical-rl;
        text-orientation: upright;
        transform: rotate(20deg);
    }
}

@keyframes lyrics-back-updown {
    0% {
        top: -16em;
    }

    50% {
        top: -20em;
    }

    100% {
        top: -16em;
    }
}

@keyframes lyrics-right {
    0% {
        right: 0em;
    }

    50% {
        right: 25em;
    }

    100% {
        right: 0em;
        ;
    }
}

@keyframes lyrics-left {
    0% {
        transform: translate(-8em, 1em)rotate(90deg);
    }

    50% {
        transform: translate(-8em, -3em)rotate(90deg);
    }

    100% {
        transform: translate(-8em, 1em)rotate(90deg);
    }
}


@keyframes eyesLeft {
    0% {
        clip-path: polygon(40% 4%, 73% 15%, 91% 38%, 100% 64%, 76% 77%, 48% 84%, 16% 75%, 4% 55%, 0% 35%, 14% 10%);
    }
    20%{
        clip-path: polygon(33% 55%, 56% 56%, 72% 56%, 100% 61%, 71% 57%, 44% 57%, 21% 55%, 10% 54%, 0 50%, 11% 53%);
    }
    70% {
        ip-path: polygon(40% 4%, 73% 15%, 91% 38%, 100% 64%, 76% 77%, 48% 84%, 16% 75%, 4% 55%, 0% 35%, 14% 10%);
    }
    100%{
        clip-path: polygon(40% 4%, 73% 15%, 91% 38%, 100% 64%, 76% 77%, 48% 84%, 16% 75%, 4% 55%, 0% 35%, 14% 10%);
    }
}

@keyframes eyesRight {
    0% {
        clip-path: polygon(53% 5%, 81% 11%, 98% 27%, 99% 51%, 89% 64%, 59% 70%, 27% 66%, 0 50%, 10% 32%, 24% 15%);
    }
    20%{
        clip-path: polygon(53% 45%, 78% 45%, 97% 43%, 100% 43%, 84% 49%, 60% 49%, 26% 48%, 0 50%, 9% 48%, 24% 46%);
    }
    70% {
        clip-path: polygon(53% 5%, 81% 11%, 98% 27%, 99% 51%, 89% 64%, 59% 70%, 27% 66%, 0 50%, 10% 32%, 24% 15%);
    }
    100%{
        clip-path: polygon(53% 5%, 81% 11%, 98% 27%, 99% 51%, 89% 64%, 59% 70%, 27% 66%, 0 50%, 10% 32%, 24% 15%);
    }
}


@keyframes head-infinite-rotate {
    0% {
        transform: rotate(0deg);
        transform-origin: 50% 50%;
    }

    50% {
        transform: rotate(15deg);
        transform-origin: 50% 50%;
    }

    100% {
        transform: rotate(0deg);
        transform-origin: 50% 50%;
    }
}

@keyframes paw-r-infinite-group1 {
    0% {
        transform: rotate(0deg);
        transform-origin: center left;
        transform-box: fill-box;
    }

    50% {
        transform: rotate(-8deg);
        transform-origin: center left;
        transform-box: fill-box;
    }

    100% {
        transform: rotate(0deg);
        transform-origin: center left;
        transform-box: fill-box;
    }

}

@keyframes paw-l-infinite-group1 {
    0% {
        transform: rotate(0deg);
        transform-origin: center right;
        transform-box: fill-box;
    }

    50% {
        transform: rotate(8deg);
        transform-origin: center right;
        transform-box: fill-box;
    }

    100% {
        transform: rotate(0deg);
        transform-origin: center right;
        transform-box: fill-box;
    }

}

@keyframes glitch-lines {
    0% {
        transform: translateX(0px);
        transform-origin: 50% 50%;
    }

    50% {
        transform: translateX(3px);
        transform-origin: 50% 50%;
    }

    100% {
        transform: translateX(0px);
        transform-origin: 50% 50%;
    }

}

@keyframes head-rotates {
    0% {
        transform: rotate(15deg);
        transform-origin: 50% 50%;
    }

    20% {
        transform: rotate(16deg);
        transform-origin: 50% 50%;
    }

    40% {
        transform: rotate(25deg);
        transform-origin: 50% 50%;
    }

    100% {
        transform: rotate(19deg);
        transform-origin: 50% 50%;
    }
}

@keyframes paw-r-moves {
    0% {
        transform: rotate(-12deg);
        transform-origin: center left;
        transform-box: fill-box;
    }

    100% {
        transform: rotate(-22deg);
        transform-origin: center left;
        transform-box: fill-box;
    }
}

@keyframes paw-l-moves {
    0% {
        transform: rotate(12deg);
        transform-origin: center right;
        transform-box: fill-box;
    }

    100% {
        transform: rotate(22deg);
        transform-origin: center right;
        transform-box: fill-box;
    }
}

@keyframes blood-drip {
    0% {
        transform: translateY(0em) scale(1, 1);
        transform-origin: center-top;
    }

    50% {
        transform: translateY(-8em) scale(1, 1.9);
        transform-origin: center-top;
    }

    100% {
        transform: translateY(0em);
        transform-origin: center-top;
    }
}

@keyframes blood-drip-circle {
    0% {
        transform: translateY(-2em)scale(1, 1);
        opacity: 1;
    }

    50% {
        transform: translateY(2em)scale(1, 1.4);
        opacity: 0;
    }

    100% {
        transform: translateY(3em);
        opacity: 0;
    }

}

@keyframes tear-animate {
    0% {
        transform: translate(2px, 0px);
        transform-origin: center top;
    }

    100% {
        transform: translate(2px, -8px);
        transform-origin: center top;
    }
}